.btn {
    display: inline-block;
    text-decoration: none;
    background-color: #8FBC8F;
    color: ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.btn.btn-blue {
    text-decoration: none;
    background-color: #1E90FF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}
.btn.btn-red {
    text-decoration: none;
    background-color: #FF6347;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}
.btn.btn-green {
    text-decoration: none;
    background-color: #32CD32;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}
.btn-blue:hover {
    background-color: #1B1464;
}
.btn-red:hover {
    background-color: #FF0000;
}
.btn-green:hover {
    background-color: #006266;
}